@model IdentityNLayer.Models.TeacherModel
@inject IdentityNLayer.BLL.Interfaces.ITeacherService teacherService
@using IdentityNLayer.Core.Entities

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkToProfile" class="control-label"></label>
                <input asp-for="LinkToProfile" class="form-control" />
                <span asp-validation-for="LinkToProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Assign Groups Like Teacher</label>
                @{
                    IEnumerable<Group> teacherGroups = await teacherService.GetTeacherGroups(Model.Id);
                }
                @if (teacherGroups != null) foreach (Group gr in teacherGroups)
                    {
                        <span class="form-control"><a asp-controller="Groups" asp-action="Details" asp-route-id="@gr.Id.ToString()">@gr.Number </a></span>
                    }
                else
                {
                    <span class="form-control">Not assigned into some group.</span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}