@model IEnumerable<IdentityNLayer.Models.StudentModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Group
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Students" asp-action="Edit" asp-route-id="@item.Id">@item.FirstName @item.LastName</a>
            </td>   
            <td>
                @if(item.Enrollments!= null) foreach (var en in item.Enrollments)
                {
                    <a asp-controller="Groups" asp-action="Edit" asp-route-id="@en.GroupID">@en?.Group.Number</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
