@inject IdentityNLayer.BLL.Interfaces.ICourseService courseService
@{
    var course = await courseService.GetByIdAsync(Convert.ToInt32(Context.Request.Query["courseId"]));
}
<div>Do you really want send request in @course.Title course as Student?</div>
<form asp-action="SendRequest" method="post">
    <input type="submit" name="request" value="Yes" />
    <input type="submit" name="request" value="No" />
    <input type="hidden" name="courseId" value="@course.Id" />
</form>
