@inject IdentityNLayer.BLL.Interfaces.ICourseService courseService
@{
    Dictionary<string, string> prms = new Dictionary<string, string> { { "courseId", Context.Request.Query["courseId"].ToString() } };
}
<div>Do you really want send request in @courseService.GetById(Convert.ToInt32(prms.Values.First())).Title course as Student?</div>
<form asp-all-route-data="prms" asp-action="SendRequest" method="post">
    <input type="submit" name="request" value="Yes" />
    <input type="submit" name="request" value="No" />
</form>
