@using Microsoft.Extensions.Configuration
@inject IConfiguration config
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To @config["Main:NameProject"]</h1>
    <p>Starting - Select a <a asp-controller="Courses" asp-action="Index">Course</a></p>
</div>
