@model IdentityNLayer.Models.CourseModel
@using (Html.BeginForm("Filter", "Courses", FormMethod.Post))
{
    <div class="accordion" id="accordion_filter">
        <div class="accordion-item">
            <h2 class="accordion-header" id="filterOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter_body"
                        aria-expanded="true" aria-controls="filter_body">
                    Filter
                </button>
            </h2>
            <div id="filter_body" class="accordion-collapse collapse show" aria-labelledby="filterOne" data-bs-parent="#accordion_filter">
                <div class="accordion-body">
                    <div class="card card-body">
                        <div class="form-group">
                            <label asp-for="CourseFilter.TitleContains"></label>
                            <input asp-for="CourseFilter.TitleContains" />
                        </div>
                        <div class="form-group">
                            <label asp-for="CourseFilter.DescriptionContains"></label>
                            <input asp-for="CourseFilter.DescriptionContains" />
                        </div>
                        <div class="form-group">
                            <label asp-for="CourseFilter.TopicTitleContains"></label>
                            <input asp-for="CourseFilter.TopicTitleContains" />
                        </div>
                        @if (User.IsInRole("Teacher") || User.IsInRole("Student"))
                        {
                            <div class="form-group">
                                <label asp-for="CourseFilter.LessonsFrom"></label>
                                <input asp-for="CourseFilter.LessonsFrom" type="number" />
                            </div>
                            <div class="form-group">
                                <label asp-for="CourseFilter.LessonsTo"></label>
                                <input asp-for="CourseFilter.LessonsTo" type="number" />
                            </div>
                        }
                        <button class="btn btn-secondary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Search", "Courses", FormMethod.Get))
{
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search courses" name="search" />
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    Search
                </button>
            </div>
        </div>
    </div>
}
