@model IdentityNLayer.Core.Entities.Methodist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<a class="btn btn-warning" asp-controller="Methodists" asp-action="Delete">Delete Methodist</a>
<div>
    <h4>Methodist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkToContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkToContact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
