@model IdentityNLayer.Models.GroupModel
@using IdentityNLayer.Core.Entities GroupStatus;
@inject IdentityNLayer.BLL.Interfaces.ICourseService courseService
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<GroupStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="TeacherRequests" class="control-label"></label>
                @if (Model.TeacherRequests != null) Html.DropDownListFor(model => model.TeacherId, new SelectList(Model.TeacherRequests, "Id", "Name"));
            </div>*@
            <div class="form-group">
                <label asp-for="StudentRequests" class="control-label"></label>
                @for (int i = 0; i < courseService.GetStudentRequests(Convert.ToInt32(Model.CourseId)).Count(); ++i)
                {
                    <input type="hidden" asp-for="@Model.StudentRequests[i].UserId" />
                    <input type="hidden" asp-for="@Model.StudentRequests[i].UserName" />
                    @Html.CheckBoxFor(m => m.StudentRequests[i].Applied)
                    @Model.StudentRequests[i].UserName
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
